
*{
    font-family: 'Noto Sans JP', sans-serif;
    color: #333333;
    }

a{
    text-decoration: none;
}

ul{
    list-style:none;
}

img{
    width: 100%;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.readmore{
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    position: relative;
}

.readmore a::after{
    content: "";
    width:82px;
    height: 1px;
    background-color: #333333;
    position: absolute;
    bottom: 0;
    left: calc(50% - 41px);
    transition: all 200ms ease;
}

.readmore a:hover::after{
    transform: translateY(3px);
    opacity: 0;
}

header{
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    z-index: 10000;
}

header h1{
    max-width: 1200px;
    padding: 20px 16px;
    line-height: 1px;    
    margin: 0 auto;
}

header h1 a{
    display: inline-block;
}

.logo{
    width: 145px;
    height: 30px;
}

.header-nav{
    padding: 10px 0;
    background-color: #333333;
}

.header-nav ul{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    color: #FFFFFF;
    gap: 60px;
    padding: 0 16px;
    font-size: 14px;
}

.header-nav ul li a{
    color: #FFFFFF;
}

.pick-up{
    max-width: 1200px;
    margin: 0 auto 70px;
    display: flex;
    gap: 23px;
    padding: 170px 16px 0;
    font-size: 16px;
    font-weight: bold;
    color:#333333 ;
}

.pick-up-img-wrapper{
    margin-bottom: 13px;
}

.pick-up p{
    margin-bottom: 30px;
}

main{
    width: 65%;
}

.body-wrapper{
    display: flex;
    gap: 34px;
}

main article{
    margin-bottom: 87px;
}

main article h2{
    font-size: 24px;
    margin-bottom: 27px;
}

main article ul{
    display: flex;
    gap: 32px;
    margin-bottom: 13px;
    font-size: 14px;
}

.main-img-wrapper{
    margin-bottom: 13px;
}

main article p{
    font-size: 16px;
    margin-bottom: 33px;
}

aside{
    width: 35%;
    padding: 20px;
}

.profile{
    margin-bottom: 57px;
}

.profile-img-wrapper{
    max-width: 130px;
    margin:0 auto 35px;
}

.profile-img-wrapper img{
    border-radius:50% ;
}

.aside-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 37px;
    text-align: center;
}

.profile-text{
    font-size: 14px;
}

.ranking h2{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 34px;
}

.ranking article{
    margin-bottom: 31px;
}

.ranking article p{
    font-size: 14px;
}

.archive ul li{
    padding: 23px;
    border-top: 1px solid #333333;
    font-size: 14px;
}

.archive ul li:last-of-type{
    border-bottom: 1px solid #333333;
}

footer{
   background-color: #F7F7F7;
   padding: 55px 0 12px;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.footer-item{
    width: 30%;
}

.footer-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-about p{
    margin-bottom: 15px;
    font-size: 14px;
}

.footer-about ul li{
    font-size: 14px;
    position: relative;
    padding-left: 20px;
}

.footer-about ul li::before{
    content: "";
    position: absolute;
    top: 50%;   /* 縦軸をセンタリングする */ 
    left: 0;
    transform: translateY(-50%);   /* 縦軸をセンタリングする */  
    border: 5px solid transparent;
    border-left: 8px solid #333333;   /* 好みで色を変えてください */  
}

.footer-menu ul li{
    padding: 19px;
    border-top: 1px solid #333333;
    font-size: 14px;
}

.footer-menu ul li:last-of-type{
    border-bottom: 1px solid #333333;
}

.copyright{
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width:770px){
    header{
        width: 100%;
    }

    .header-nav{
        overflow-x: scroll;
    }

    .pick-up{
        display: flex;
        flex-direction: column;
        padding: 140px 16px 0;
    }

    .pick-up p{
        margin-bottom: 21px;
    }
    
    main{
        width: 100%;
    }

    aside{
        width: 100%;
        padding: 0;
    }

    .body-wrapper{
        display: flex;
        flex-direction: column;
        margin: 0 auto 120px;
    }

    .footer-inner{
        display: flex;
        flex-direction: column;
    }

    .footer-item{
        width: 100%;
    }

    .footer-about{
        margin-bottom: 59px;
    }

    .footer-menu{
        margin-bottom: 35px;
    }
}